.form {
	height: 700px;
	background-image: url(/public/images/form.PNG);
	background-repeat: no-repeat;
	background-position: center;
	background-size:auto;
}

.user {
	margin: 30px;
}

.password {
	margin-top: 60px;
}

.submit {
	margin-top: 60px;
}

.errors{
	color: red;
}